:root{
    --font-tytle: 1px 5px 4px rgb(150, 180, 220, 0.4);
    --font-family: 'Montserrat';
    --font-size: 4.5rem;
    --destak-color: rgb(161, 0, 0);
    --sub-color: rgb(197, 79, 0);
    --white: #FFF;
    --black: #000;
}

::selection{
    color: var(--white);
    background-color: var(--destak-color);
}

body{
    margin: 0px;
}

span#sub{
    color: var(--white);
    margin: 2px 8.4rem 2px 8.4rem;
}

h1{
    color: var(--white);
    margin: 8px 8.4rem 0px 8.4rem;
}

h2{
    margin: 120px 8.4rem 0px 8.4rem;
    color: var(--white);
    text-shadow: var(--font-tytle);
    font-family: var(--font-family);
    font-size: var(--font-size);
}

a{
    display: flex;
    gap: 1rem;
    color: var(--white);
    margin: 0 8.4rem;
    font-family: var(--font-family);
    background-color: var(--destak-color);
    padding: .25rem 1rem;
    border-radius: 0.5rem;
    transition: opacity 0.4s;
}

a:hover{
    opacity: .6;
}

header{
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
    position: relative;
    align-items: flex-start;

    margin-top: 0px;
    padding: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

header{
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: var(--destak-color);
    background-image: url(../image/TemaColors.png);
    background-size: cover;
    zoom: 0;
}

span#Ft{
    margin: 100px 100px 0px 300px;
    content: '';
    position: relative;
    width: 10vw;
    height: 10vh;
    z-index:4;
    background-color: var(--destak-color);
    background-image: url(../image/perfil_robo.jpg);
    background-size: 100%;
    zoom: 0;
}